# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Local development settings
.env
.env.*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Output files
*.json
!package.json

# Mac OS specific files
.DS_Store

# Windows specific files
Thumbs.db 